{% extends 'TMainBundle::layout.html.twig' %}

{% block title %}
    {#je recupere le contenu du block parent#}
    {{ parent() }} - Contact
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="jumbotron">
                <h1>Page contact</h1>

                <form action="{{ path('t_main_contact') }}" method="post">
                    {{ form_label(formContact.email) }}
                    {{ form_widget(formContact.email) }}
                    {{ form_errors(formContact.email) }}
                    <br/>

                    {{ form_label(formContact.nom) }}
                    {{ form_widget(formContact.nom) }}
                    {{ form_errors(formContact.nom) }}
                    <br/>

                    {{ form_label(formContact.prenom) }}
                    {{ form_widget(formContact.prenom) }}
                    {{ form_errors(formContact.prenom) }}
                    <br/>

                    {{ form_label(formContact.sujet) }}
                    {{ form_widget(formContact.sujet) }}
                    {{ form_errors(formContact.sujet) }}
                    <br/>

                    {{ form_label(formContact.contenu) }}
                    {{ form_widget(formContact.contenu) }}
                    {{ form_errors(formContact.contenu) }}
                    <br/>

                    {#Ce dernier form widget vas nous permettre d'ajouter des que nous aurions pu oublier et SURTOUT le form token sans ça votre formulaire ne sera jamais valide !!#}
                    {{ form_widget(formContact) }}
                    {{ form_errors(formContact) }}
                    <button class="btn btn-success btn-big">Envoyer</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}